.container {
    width: 545px;
    height: 300px;
    margin: 15% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.theme-sel-container{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-selector{
    padding: 3px;
    height: 30px;
    border-radius: 20px;
}
.box {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 6px 5px 1px #89daff;
}